@charset "UTF-8";

body {
	margin:0px; 
	padding:0px; }
	
#header {
	display:flex;
	position: relative; 
	align-items:center; 
	background:#111111; 
	height:80px; 
	width:100%; 
	z-index:999; }
	
#header #logo {
display:flex; 
padding-left:5px; }

#menus {
	display:flex; 
	align-items: center; 
	height: fit-content; 
	padding-right:100px; }

#menus .menu-item {
	display: inline-flex;
	color: #FFFFFF;
	font-family: Arial, sans-serif;
	font-size: 11px;
	font-weight: 900;
	padding-right: 40px; }
		
#menus .menu-item:first-child {
	padding-left: 10px; }
	
#buttons {
	display:flex; 
	color:#FFFFFF; 
	margin-left:auto; }
	
	